<label for="preg" clas="rem">Pregunta:</label>
<!-- ATENCION: por mi cuenta he cambiado value = "<%= quiz.pregunta%>" y en su lugar he creado un condicional para que si el usuario no escribe la pregunta o la respuesta se lo indique y no cree la pregunta sin más -->
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Pregunta" value = 
	<% if (quiz.pregunta == 'Pregunta') {%>
		""
	<% } else { %>
		"<%= quiz.pregunta %>"
	<% } %>
/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Respuesta" value=
	<% if (quiz.respuesta == 'Respuesta') {%>
		""
	<% } else { %>
		"<%= quiz.respuesta %>"
	<% } %>
/><p>
<label for="tema" class="rem">Temática:</label>
<select id="tema" name="quiz[tematica]">
	<option value="Otro" <% if (quiz.tematica =="Otro"){ %> selected="selected" <% } %> 
	>Otro</option>
	<option value="Humanidades" <% if (quiz.tematica =="Humanidades"){ %> selected="selected" <% } %> >Humanidades</option>
	<option value="Ocio" <% if (quiz.tematica =="Ocio"){ %> selected="selected" <% } %> >Ocio</option>
	<option value="Ciencia" <% if (quiz.tematica =="Ciencia"){ %> selected="selected" <% } %> >Ciencia</option>
	<option value="Tecnologia" <% if (quiz.tematica=="Tecnologia"){ %> selected="selected" <% } %> >Tecnología</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">