<h3><%= autores %></h3>
<div class='foto'>
	<img src="http://icons.iconarchive.com/icons/sykonist/looney-tunes/256/Marvin-Martian-icon.png">
</div>
<div class='nombre'>
	<p>Marvin the Martian</p>
</div>
<div class='video'>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/EpypXPe1XHo" frameborder="0" allowfullscreen></iframe>
</div>